body {
    background-color: #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}

h2, p, ul, ol {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}